# ============================================
# Application
# ============================================
NODE_ENV=development
PORT=3000
# Comma-separated list of allowed CORS origins
CORS_ORIGINS=http://localhost:5173,https://fullstackfecc.duckdns.org

# ============================================
# Database (PostgreSQL)
# ============================================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=checkout_db
# Set to true only for local dev. In prod use migrations.
DB_SYNCHRONIZE=true
DB_LOGGING=false

# ============================================
# Payment Gateway (Sandbox / UAT)
# ============================================
GATEWAY_BASE_URL=https://api-sandbox.co.uat.wompi.dev/v1
GATEWAY_PUBLIC_KEY=pub_stagtest_g2u0HQd3ZMh05hsSgTS2lUV8t3s4mOt7
GATEWAY_PRIVATE_KEY=prv_stagtest_5i0ZGIGiFcDQifYsXxvsny7Y37tKqFWg
GATEWAY_INTEGRITY_KEY=stagtest_integrity_nAIBuqayW70XpUqJS4qf4STYiISd89Fp
GATEWAY_EVENTS_KEY=stagtest_events_2PDUmhMywUkvb1LvxYnayFbmofT7w39N

# ============================================
# Business fees (in cents)
# ============================================
BASE_FEE_IN_CENTS=500000
DELIVERY_FEE_IN_CENTS=1500000
